@charset "UTF-8";

body{
    margin: 0px;
    background-image: url(imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#telefone{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#caixa{
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tela{
    background-image: url(imagens/tela-home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 155px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    width: 152px;
    height: 280px;
}
#caixa > img{
    width: 100%;
    height: 100%;
}
.logos_apps{
    width: 50px;
    border-radius: 100%;
}
#redes_sociais > div{
    display: inline-block;
    margin: 0px;
    position: absolute;
    right: 20px;
    top: 8%;
}
.imagens_apps{
    display: flex;
    width: 40px;
    margin: 0px;
    border-radius: 100%;
    padding: 10px 10px;
}
.imagens_apps:hover{
    width: 60px;
    padding: 0px 0px;
    transition: 0.4s;
}
